body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.timeLineContainer {
  display: inline-block;
  margin-top: 30px;
  white-space: nowrap;
}

.timeLineRow {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  margin-left: 30px;
  margin-right: 30px;
  white-space: nowrap;
}

.timeLineRow:first-child {
  border-top: 1px solid grey;
}

.timeLineRow:last-child {
  border-top: none;
}

.timeLineRowNameContainer {
  border-right: 1px solid grey;
  display: inline-block;
}

.timeLineRowName {
  width: 225px;
  padding: 8px;
}

.timeLineItem {
  display: inline-block;
  border: 1px solid blue;
  border-radius: 3px;
}

.timeLineHeader {
  display: inline-block;
  vertical-align: bottom;
}

.timeLineHeaderYear {
  border-right: 1px solid grey;
  text-align: center;
  width: 100%;
}

.timeLineHeaderYearCalendar {
  display: inline-block;
  border-right: 1px solid grey;
}

.timeLineHeaderMonth {
  box-sizing: border-box;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  display: inline-block;
  height: 16px;
  text-align: center;
  vertical-align: bottom;
}

.timeLineHeaderYearCalendar:last-child,
.timeLineHeaderMonth:last-child {
  border-right: none;
}
